#clock {
  text-align: center;
  font-size: 3rem;
  color: white;
  background-color: #212121; /* Background color for the clock div */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a shadow effect */
}

#time {
  margin-bottom: 10px;
}

#alarm {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  width: 3rem;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  text-align: center;
}

button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d50000; /* Background color for the buttons */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #212121; /* Background color on hover */
  border: 2px solid #d50000; /* Border on hover */
}

button:active {
  background-color: #d50000; /* Background color on click */
}

#clock:hover {
  background-color: #d50000; /* Background color on hover */
}

#clock:hover button:hover {
  background-color: #212121; /* Background color on button hover */
  border: 2px solid #d50000; /* Border on button hover */
  transform: scale(1.1); /* Scales the button on hover */
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: #8c8c8c;
}

:-moz-placeholder { /* Firefox 18- */
  color: #8c8c8c;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #8c8c8c;
}

:-ms-input-placeholder {
  color: #8c8c8c;
}
